*{
  margin: 0;
  padding: 0;
}

body{
  display: flex;
  justify-content: center;
}

h3{
    font: bold 16px "arial";
}

main{
  position: relative;
  background-image: url('../images/bygma_mikkel.jpg');
  background-position: 35%;
  background-size: cover;
  width: 450px;
  height: 100vh;
}

.gradinent{
  position: absolute;
  width: 450px;
  height: 100vh;
  background: linear-gradient(10deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 80%);
  z-index: 0;
}

.login{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

.login-content{
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  height: 100%;
  z-index: 1;
}

.google{
  display: flex;
  align-items: center;
  background-color: #fff;
  width: 240px;
  height: 38px;
  margin: 25px 0;
  z-index: 1;
  border-radius: 5px;
  color: grey;
  cursor: pointer;
}


.google img{
  width: 25px;
  margin: 0 20px;
}

 .fb_iframe_widget {
  width: 235.2px;
}

.or{
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  margin: 25px 0;
}

.or h3{
  margin: 0 25px;
  color: white;
}

.line{
  height: 1px;
  width: 75px;
  background-color: white;
}

.email{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #A60005;
  width: 240px;
  height: 38px;
  z-index: 1;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.logo{
  z-index: 1;
}

.logo img{
  width: 240px;
  z-index: 1;
}

.sponsor{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  margin-bottom: 50px;
}
.sponsor img{
  width: 100px;
}
